.work-1 {
    background-image: url(../images/work-1.jpg);
}

.work-2 {
    background-image: url(../images/work-2.png);
}

.work-3 {
    background-image: url(../images/work-3.png);
}

.work-4 {
    background-image: url(../images/work-4.jpg);
}

.work-5 {
    background-image: url(../images/work-5.jpg);
}

.work-6 {
    background-image: url(../images/work-6.jpg);
}